* {
  /* bài 47 */
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* khôi phục cỡ chữ mặc định tính theo rem */
body {
  /* xem lại bài 56: kiến thức về quy đổi */
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

a {
  /* ==== những thuộc tính áp dụng chung code cho thuộc tính chung (bỏ gạch chân) ===== */
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0px 16px; /* thẻ inline xem bài 51 */
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 50px;
  background: #171100;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px); /* bài 85 */
  margin-left: auto;
  margin-right: auto;
}

/* ==============================Code cho header========================== */
.header {
  background: #fffc24;
}

.header.fixed {
  position: sticky; /* position: sticky xem lại bài 87.6 */
  top: -28px;
}

.header .body_header {
  display: flex;
  align-items: center; /* bài 89.3 */
  padding: 36px 0 8px;
}

.nav {
  /* bài 89.10 */
  margin-left: auto;
}
.nav ul {
  display: flex;
}

.nav a {
  position: relative; /* Bài 87.2: absolute -> TH2 phần tử đc định vị theo tổ tiên gần nhất đặt position là relative */
  color: #5f5b53;
  font-size: 1.6rem;
  /* letter-spacing: 0%; */
  padding: 8px 21px;
}

.nav li.active a,
.nav a:hover {
  /* lớp giả hover bài 33 */
  color: #171100;
  /* font-weight: 600; */
  /* text-shadow bài 65 */
  text-shadow: 1px 0 0 currentColor;
}

/* bài 83: pseudo elements thêm phần tử trc hoặc sau các thẻ */
.nav li.active a::after {
  position: absolute; /* Bài 87.2: absolute -> TH2 phần tử đc định vị theo tổ tiên gần nhất đặt position là relative */
  left: 21px;
  bottom: 6px;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}

.header .btn-sign-up {
  min-width: 144px;
}

.header .action{
  margin-left: 49px;
}