*{
    /* bài 47 */
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

/* khôi phục cỡ chữ mặc định tính theo rem */
body{
    /* xem lại bài 56: kiến thức về quy đổi */
    font-size: 1.6rem;
}